body
		form(method="POST", action="/user")
			input(type=text, name="firstname", value="Firstname")
			input(type =text, name="lastname", value="Lastname")
			input(type =text, name="email", value="Email")
			input(type= "submit", value="Submit")
